{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 2, "knowledge_revision": 11, "git_revision": "e83c445e8fad90095d3566e1a5f50eae535deaa2", "hash": "1d666af380b83b2c5033b860e3cfc119", "format-version": 4, "code-base-name": "tic_tac_toe_backend", "filename": "tic_tac_toe_backend/requirements.txt", "revision_history": [{"11": "e83c445e8fad90095d3566e1a5f50eae535deaa2"}]}